.contact {
    
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 20px;


}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    width: 100%;


}



.login {
    width: 50rem;
    height: 35rem;
    background-color: rgba(87, 82, 63, 0.719);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 40px -14px;
}


.contact .login h1 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;

    border: none;
    margin-top: 0;
}


.contact .login form input {
    top: 10px;
    font-size: 1.3rem;
    width: 80%;
    background: none;
    outline: none;
    border: none;
    text-align: center;
    color: white;
    border-bottom: 4px solid rgb(255, 255, 255);

}

.contact .login form input::placeholder {
    color: rgba(0, 0, 0, 0.507);
    font-size: 1.2rem;
}


.contact .login form .btn {
    position: relative;
    width: 40%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    top: 20px;
    bottom: 40px;
    outline: none;
    color: rgb(235, 0, 0);
    transition: all 200ms ease-in-out
}

.contact .login form .btn:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    color: white;
}
.contact .login form .btn:disabled {
    background-color: rgb(94, 92, 87);
    color: rgb(134, 133, 131);
    border-color: grey;

}
.btn:disabled::before{
    content: '';
  background:none;
 
}




.contact .login h7 {
    margin-top: 30px;
    color: whitesmoke;
    font-size: 1.2rem;
}

.contact .login .errors {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    font-size: .9rem;
    font-weight: bold;
    top: 1rem;
    text-align: center;
    line-height: 15px;
    color: red;

}



